<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- Event Store Settings-->
    <add key="EventStoreIp" value="127.0.0.1"/>
    <add key="EventStoreTcpPort" value="1113"/>
    <add key="EventStoreUser" value="admin"/>
    <add key="EventStorePass" value="changeit"/>
    
    <!-- Email Senser Settings -->
    <add key="snapshotInterval" value="100"/>
    <add key="host" value="mail.fecoprod.com.py"/>
    <add key="port" value="25"/>
  </appSettings>
</configuration>